html
{
    scroll-behavior: smooth;
}

/* HEADER */
#header
{
    height: 100vh;
    background: url('images/landing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.header .navbar-brand a
{
    background-color: #db3713 !important;
    font-weight: 900;
    padding: 5px;
}
#navbarNav li
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbarNav li a
{
   background: #db3713;
   border: 1px solid #db3713;
   color: white;
   margin-right: 0.7em;
   font-weight: 800;
   border-radius: 2em;
}
#navbarNav li a:hover
{
    border: 1px solid #db3713;
    background-color: #fff;
    color: #000;
}

#header .col1
{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
#header .col2 
{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}
#header .col2  .titles
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header .col2 h1
{
    text-align: left;
    color: white;
    font-weight: 800;
    margin: 2em 1em 1em;
}

#header .col2  span a
{
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 800;
    color: black;
    border-radius: 2em;
    background-color: #fff;
    padding: 0.5em 1em;
}

#header .col2  span a:hover
{
    background-color: rgb(248, 220, 220);
}

#header .col2 .social-media
{
    text-align: center;
    margin-top: 19%;
}
#header .col2 .social-media h5
{
   color: white;
}
#header .col2 .social-media .icons
  {
      display: flex;
      justify-content: space-around;
     
      margin: 1em 5em; 
  }
#header .col2 .social-media .icons a
  {
      margin:1em;
      padding: 4%;
      color: white;
  }
#header .col2 .social-media .icons a:hover
  {
      color: #ee9581;
  }
#header .col2 .social-media .icons i
  {
      font-size: larger;
  }

  /* ..........................
         ABOUT 
...............................*/
#about
{
background-color: #fff;}
#about .title
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about .title h1
{
  display: inline-block;  
}

#about .title hr
{
    height: 4px;
    color:#A21D00;
    opacity: 100%;
    width: 7%;
}


/* ..........................
         PROJECTS 
...............................*/
#projects
{
    background-color: rgb(221, 218, 218);
    border-radius: 15px;
    padding: 10px;
    margin: 5px 20px;
}
#projects .title
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projects .title hr
{
    height: 4px;
    color:#A21D00;
    opacity: 100%;
    width: 7%;
}
#projects .project-list
{
  display: flex;
  justify-content: space-evenly;
}
#projects .column
{
    background-color: rgb(255, 255, 255);
    margin: 2em;
    box-shadow: 0px 0px 8px grey;
}

#projects .column .image
{
    height:15em;
    overflow: hidden;
} 
#projects .column .image img
{
    width: 100%;
}
#projects .column .link-btn
{
    text-align: center;
}


/*--------------------------------------------------------------
# RESUME
--------------------------------------------------------------*/

#resume hr
{
    height: 4px;
    color:#A21D00;
    opacity: 100%;
    width: 7%;
}
.resume .resume-title 
{
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #222222;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #34b7a7;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #1d685f;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #effbf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #34b7a7;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #34b7a7;
  }


/*....................................... 
       FOOTER   
......................................... */
#footer
{
    color: white;
    padding: 5%;
    background-color: rgb(34, 25, 25);
}
#footer h4
{
   text-align: center;
   padding: 1%;
}

#footer #social-media
{
    text-align: center;
}
#footer #social-media a
{
    padding: 2%;
    color: white;
}
#footer #social-media a:hover
{
    color: #A21D00;
}
#footer #social-media i
{
    font-size: larger;
}

#footer .float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:3%;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    display: flex;
}
#footer a
{
   text-decoration: none;
}
#footer .my-float{
	margin:auto;
    font-size: 1.2em;
}
#footer .backToTop 
{
    position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:10%;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    display: flex;
}
#footer .backToTop .toTop
{
	margin:auto;
    font-size: 1.2em;
}


/* ............................................................... 
                 RESPONSIVENESS
................................................................*/
@media only screen and (max-width: 768px) 
{
        /* HEADER */
    #header
    {
        height: 110vh;
        background: url('images/landing.png');
        background-position:left;
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
    }
    .header .navbar-brand a
    {
        background-color: #ffffff !important;
        font-weight: 900;
    }
    #navbarNav
    {
        background-color: #fff;
        margin: 0;
        position: relative;
        z-index: 99;
    }
    #navbarNav li
    {
        align-items: center;
        justify-content: left;
    }
    #navbarNav li a
    {
    background: #ffffff;
    margin: 1em;
    padding-left: 2em;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 1.2em;
    border-radius:0;
    }
    #navbarNav li a:hover
    {
        border: none;
        background-color: #fff;
        color: #A21D00;
        border-bottom: 1px solid #A21D00;
    }


#header .col1
{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
#header .col2 
{
    /* background-color: blueviolet; */
    padding-top: 5em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center !important;
    justify-content:center !important;
}
#header .col2  .titles
{
    background-color: rgb(255, 195, 195);
    border-radius: 1em;
}
#header .col2 h1
{
    color: black;
    /* color: rgb(255, 255, 255); */
    margin: 1em 1em 1em;
}

#header .col2  span a
{
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 800;
    color: black;
    border-radius: 2em;
    background-color: #fff;
    padding: 0.5em 1em;
}

#header .col2 .social-media
{
    margin-top: 15%;
}

#header .col2 .social-media .icons
  {
      display: flex;
      justify-content: space-around;
      margin: 1em 3em; 
  }
#header .col2 .social-media .icons a
  {
      margin:0em;
      padding:0% 4%;
      color: white;
  }
#header .col2 .social-media .icons a:hover
  {
      color: #ee9581;
  }
#header .col2 .social-media .icons i
  {
      font-size: larger;
  }

  /* .........................
  FOOTER
  .......................... */
  #footer .backToTop 
  {
      right:17%;
  }

  
}